* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

}

a {
    text-decoration: none;
}

.navbar {
    background: #000000;
    color: white;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__logo {
    /* padding-top: 30px; */
    max-height: 70px;
}

.hero {
    width: 100%;
    height: 60vh;
    background-image: url("images/rohingya-bgd.jpg");
    background-position: center;

    /* background-size: 100%; */
    background-size: cover;
    /* position: relative; */
    overflow: hidden;
    color: white;
    
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__title {
    font-size: 5rem;
}

.hero__button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.8rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
    cursor: pointer;
}

.hero__button:hover {
    background-color: #007504;
    transition: all 0.5s;
}

.campaigns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.campaign__box{
    width: 100%;
    height: 15rem; /* edit*/
    background-position: center;
    background-size: cover;
    overflow: hidden;
    color: white;
    display: flex;
    align-items:flex-end;
    justify-content:center;
    /* font-size: 1.1rem; */
    border: 2px solid #000;
    cursor: pointer;
}

.campaign__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campaign__title {
    font-size: 1.5rem;
}

.campaign__box:hover {
    opacity: 0.7;
    transition: all .5s;
}

.socials {
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials__container {
    /* height: 40px; */
    display: flex;
    justify-content: center;
    

}

.social__icons {
    height: 2.5rem;
    margin: 1rem 1rem;
}


@media screen and (max-width: 1000px) {
    .campaigns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-row: auto; */
        /* height: 4vh; */
    }
}

@media screen and (max-width: 800px) {
    .campaign__box {
        height: 12rem;
    }

    .campaign__title {
        font-size: 1.25rem;
        /* font-weight: 500; */
    }
}


@media screen and (max-width: 600px) {
    .navbar {
        height: 1.5rem;
        font-size: 0.8rem;
    }

    .navbar__logo {
        max-height: 50px;
    }

    .hero {
        height: 50vh;
    }

    .hero__title {
        font-size: 3rem;
    }

    .hero__description {
        font-size: 1.1rem;
        font-weight: 400;
    }

    /* .hero__button {
        
    } */

    .campaigns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-row: auto; */
        /* height: 4vh; */
    }

    .campaign__box {
        height: 9rem;
    }

    .campaign__overlay {
        height: 2.5rem;
    }

    .campaign__title {
        font-size: 1rem;
        /* font-weight: 500; */
    }

    .social__icons {
        height: 1.5rem;
        margin: 1rem 0.5rem;
    }
}